@keyframes animate {
0% {
  background-position: 0px
  }
  100% { 
    background-position: 1360px 
  }
}

@keyframes animate-reverse {
  0% {
    background-position: 1360px
    }
    100% { 
      background-position: 0px 
    }
  }

  h1{
    color: black;
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: 2px 2px #080707;
    

  }
  
  span {
    // opacity: 0;
    transition: all 0.5s ease;
    //  display: inline-block;
    // transform: translateY(50px);
    // text-shadow: 1px black;
    
  
  }
  
  span.fade{
    // opacity: 1;
    // transform: translateY(0px);
    color: #ff9800;
  }

  // #ff9800