* {
  text-decoration: none !important;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

html {
  height: 100vh;
  cursor: url("./assets/cursor1.png"), auto !important;
}

div.grecaptcha-badge {
  animation: slidein 3s ease 7s forwards;
}
div.grecaptcha-badge.show {
  width: 256px !important;
  opacity: 1 !important;
  visibility: visible !important;
}

@keyframes slidein {
  0% {
    width: 256px;
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    width: 0px;
    opacity: 0;
    visibility: hidden;
  }
}
